<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.erikng.umad</string>
	<key>LimitLoadToSessionType</key>
	<array>
		<string>Aqua</string>
	</array>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/Application Support/umad/Resources/umad</string>
		<!-- Cutoff Date -->
<string>--cutoffdate</string>
<string>2028-12-31-17:00</string>
		<!-- Profile Identifier -->
<string>--profileidentifier</string>
<string>00000000-0000-0000-A000-4A414D460003</string>
		<!-- -->
		<!-- Logos -->
<string>--logopath</string>
<string>/Library/Application Support/umad/Resources/company_logo.png</string>
<string>--nagsspath</string>
<string>/Library/Application Support/umad/Resources/nag_ss.png</string>
<string>--uasspath</string>
<string>/Library/Application Support/umad/Resources/uamdm_ss.png</string>
		<!-- -->
		<!-- Text-->
<string>--duedatetext</string>
<string>MDM Enrollment is required (No Restart Required)</string>
		<!--<string>--depfailuretext</string> -->
		<!--<string>Not getting this notification?</string> -->
		<!--<string>--depfailuresubtext</string> -->
		<!--<string>You can also enroll manually below:</string> -->
<string>--manualenrollmenttext</string>
<string>Manual Enrollment Required</string>
		<!--<string>--manualenrollh1text</string> -->
		<!--<string>Want this box to go away?</string> -->
		<!--<string>--manualenrollh2text</string> -->
		<!--<string>Click on the Manual Enrollment button below.</string> -->
		<!--<string>--paragraph1</string> -->
		<!--<string>Enrollment into MDM is required to ensure that IT can protect your computer with basic security necessities like encryption and threat detection.</string> -->
		<!--<string>--paragraph2</string> -->
		<!--<string>If you do not enroll into MDM you may lose access to some items necessary for your day-to-day tasks.</string> -->
		<!--<string>--paragraph3</string> -->
		<!--<string>To enroll, just look for the below notification, and click Details. Once prompted, log in with your username and password.</string> -->
<string>--subtitletext</string>
<string>Approve the MDM Profile</string>
<string>--sysprefsh1text</string>
<string>Want to continue imaging this Mac?</string>
<string>--sysprefsh2text</string>
<string>Click 'Open System Preferences' below, then approve the MDM profile.</string>
<string>--titletext</string>
<string>MDM Enrollment</string>
<string>--uamdmparagraph1</string>
<string>The imaging process has paused.</string>
<string>--uamdmparagraph2</string>
<string>DEPnotify will start when you approve the MDM profile.</string>
<string>--uamdmparagraph3</string>
<string>To resume imaging please click 'Open System Preferences' at the bottom of this window. Then click on the Device Enrollment profile and click on the approve button.</string>
		<!-- -->
		<!-- URLs -->
<string>--manualenrollmenturl</string>
<string>https://vassar.jamfcloud.com:8443/enroll</string>
<string>--moreinfourl</string>
<string>https://www.google.com</string>
		<!-- -->
		<!-- Timers -->
<string>--cutoffdatewarning</string>
<string>3</string>
<string>--timerday1</string>
<string>60</string>
<string>--timerday3</string>
<string>60</string>
<string>--timerelapsed</string>
<string>60</string>
<string>--timerfinal</string>
<string>60</string>
<string>--timerinital</string>
<string>5</string>
<string>--timermdm</string>
<string>3</string>
		<!-- -->
		<!-- Action_True -->
		<!--<string>--enableenrollmentbutton</string> -->
		<!--<string>--notimer</string> -->
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/Library/Application Support/umad/Logs/umad.log</string>
	<key>StandardOutPath</key>
	<string>/Library/Application Support/umad/Logs/umad.log</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
